*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    box-sizing: border-box;
    

}

body{
       display: grid;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100vh;
    
   
    
}
.content{
    width: 601px;
    opacity: 90%;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid #3a3fb1;
    box-shadow: 0px 8px 24px gray;
    border-radius: 22px;
    margin: auto;
    transform: scale(72%) 
    
    
}

.sign-text{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 60px;
    margin-bottom: 20px;
    color: blanchedalmond;
    
    

}

.sign-text a{
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

.input .email {
    margin-top:50px;
    margin-bottom: 50px;
        

}
#email, #password{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid orange;
    font-size: large;
    border-radius: 25px;
    background-color: #eee;
    cursor:text;

}


.remember-me-container, input{
    font-size: larger;
    margin-left: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    display:inline-block;
	position: relative;
	vertical-align: middle;
	padding:5px;

}
#remember-me{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    display:inline-block;
	position: relative;
	vertical-align: middle;
	padding:5px;
    
}
#email{
    margin-bottom: 30px;
}

.label{
    font-size: 22px;
    opacity: 80%;
    margin-left: 10px;
}

hr{
    width: 100%;
    border: 1px solid orange;
    background-color: orange;
    margin-top: 0;

}
#password{
    margin-bottom: 30px;
}

#Repeat-password{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid orange;
    font-size: large;
    border-radius: 25px;
    background-color: #eee;
    margin-bottom: 30px;
    cursor: text;
}

.submit-container{
    display: grid;
}

#submit{
    display: block;
    margin : 0 auto;
    padding: 16px 32px;
    cursor: pointer;
    background-color: white;
    border-radius: 8px 20px;
    border: none;
    width: 200px;
    font-size: 20px;
    color: #3a3fb1;
    
}
.social-text{
    display: flex;
    justify-content: center;
    gap: 50px;

}

.hr-{
    margin-bottom: 20px;
    margin-top: 10px;
}

.social-icons img{
    width: 40px;
    height: 40px;
    

}
.social-text .fb .google{
    display: flex;
    justify-content: center;
}
.sign-in-with{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 24px;

}
.sign-up-with{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 24px;

}


#submit:hover{
    
    color: white;
    background-color: #3a3fb1;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    
}


.sign-in.orange{
    border-bottom: 3px solid orange;
    
    
}
.sign-up.orange{
    border-bottom: 3px solid orange;

}
body::-webkit-scrollbar {
    display: none; 
  }
  #bg {
    position: fixed; 
    top: 0; 
    left: 0; 
  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }






